.ant-modal-header{
    background-color :#fafafa
}
.ant-modal-body{
    padding:20px 24px;
    font-size: 18px;
}
.ant-input{
    border-radius: 5px;
}
.ant-modal-content{
    border-radius: 6px;
    width: 450px;
}
.cancelbtn,.cancelbtn:hover{
    background-color:#f3f3f3;
    color:black;
    border-color:#b6b5b5;
}
.ant-switch{
    margin-right:3%;
}
.ant-switch-checked{
    background-color: #db4c3f;
}

.addbtn,.addbtn:hover{
    background-color:#db4c3f;
    color: white;
}
.project-color,.project-input{
    margin-bottom: 5%;
}


