.input-fild {
  line-height: 30px;
  border: none;
  border-right: 1px solid #ddd;
}
.add-quick-task {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 6px;
}
.btn-icon {
  font-size: 13px;
  color: #202020;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin-left: 8%;
}

.btn-icon:hover {
  color: #202020;
  background-color: #eee;
  padding: 0;
  margin-left: 8%;
}
.displayhide {
  display: none;
}

.plus-icon {
  color: #db4c3f;
}
.plus-btn-content {
  color: gray;
}

.ant-divider-inner-text{
  color: transparent;
  
} 

.ant-divider-inner-text:hover{
  color: #db4c3f !important;
  cursor: pointer;
} 
  .ant-divider-horizontal.ant-divider-with-text::before,
   .ant-divider-horizontal.ant-divider-with-text::after {
    position: relative;
    top: 50%;
    display: table-cell;
    width: 50%;
    border-top: none;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    content: '';
  }
  
   .ant-divider-horizontal.ant-divider-with-text:hover::before,
   .ant-divider-horizontal.ant-divider-with-text:hover::after{
    position: relative;
    top: 50%;
    display: table-cell;
    width: 50%;
    border-top: 1px solid #db4c3f;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    content: '';
    cursor: pointer;
  }

